gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
/app/build/generated/source/buildConfig/debug/co/geeksempire/flow/accounting/flow_accounting/BuildConfig.java
/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
/app/build/intermediates/flutter/debug/flutter_assets/assets/add_credit_card_icon.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/add_profile_icon.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/coins_icon.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/FlowIcons.ttf
/app/build/intermediates/flutter/debug/flutter_assets/assets/go_previous_icon.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/input_background_pattern.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/instagram_icon.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/pattern_card_background_five.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/pattern_card_background_four.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/pattern_card_background_one.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/pattern_card_background_three.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/pattern_card_background_two.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/search_shape.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/share_icon.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/unknown_user.png
/app/build/intermediates/flutter/debug/flutter_assets/fonts/credit_card.ttf
/app/build/intermediates/flutter/debug/flutter_assets/fonts/MaterialIcons-Regular.otf
/app/build/intermediates/flutter/debug/flutter_assets/fonts/sans.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/fluttertoast/assets/toastify.css
/app/build/intermediates/flutter/debug/flutter_assets/packages/fluttertoast/assets/toastify.js
/app/build/intermediates/flutter/debug/flutter_assets/AssetManifest.json
/app/build/intermediates/flutter/debug/flutter_assets/FontManifest.json
/app/build/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data
/app/build/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
/app/build/intermediates/flutter/debug/flutter_assets/NOTICES.Z
/app/build/intermediates/flutter/debug/flutter_assets/vm_snapshot_data
/app/build/intermediates/flutter/debug/.last_build_id
/app/build/intermediates/flutter/debug/flutter_build.d
/app/build/intermediates/flutter/debug/libs.jar
/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/add_credit_card_icon.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/add_profile_icon.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/coins_icon.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/FlowIcons.ttf
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/go_previous_icon.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/input_background_pattern.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/instagram_icon.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/pattern_card_background_five.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/pattern_card_background_four.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/pattern_card_background_one.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/pattern_card_background_three.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/pattern_card_background_two.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/search_shape.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/share_icon.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/assets/unknown_user.png
/app/build/intermediates/merged_assets/debug/out/flutter_assets/fonts/credit_card.ttf
/app/build/intermediates/merged_assets/debug/out/flutter_assets/fonts/MaterialIcons-Regular.otf
/app/build/intermediates/merged_assets/debug/out/flutter_assets/fonts/sans.ttf
/app/build/intermediates/merged_assets/debug/out/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/app/build/intermediates/merged_assets/debug/out/flutter_assets/packages/fluttertoast/assets/toastify.css
/app/build/intermediates/merged_assets/debug/out/flutter_assets/packages/fluttertoast/assets/toastify.js
/app/build/intermediates/merged_assets/debug/out/flutter_assets/AssetManifest.json
/app/build/intermediates/merged_assets/debug/out/flutter_assets/FontManifest.json
/app/build/intermediates/merged_assets/debug/out/flutter_assets/isolate_snapshot_data
/app/build/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
/app/build/intermediates/merged_assets/debug/out/flutter_assets/NOTICES.Z
/app/build/intermediates/merged_assets/debug/out/flutter_assets/vm_snapshot_data
/app/build/intermediates/processed_res/debug/out/output-metadata.json
/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
/app/build/intermediates/res/merged/debug/drawable-v21_launch_background.xml.flat
/app/build/intermediates/res/merged/debug/mipmap-hdpi_ic_launcher.png.flat
/app/build/intermediates/res/merged/debug/mipmap-mdpi_ic_launcher.png.flat
/app/build/intermediates/res/merged/debug/mipmap-xhdpi_ic_launcher.png.flat
/app/build/intermediates/res/merged/debug/mipmap-xxhdpi_ic_launcher.png.flat
/app/build/intermediates/res/merged/debug/mipmap-xxxhdpi_ic_launcher.png.flat
/app/build/intermediates/res/merged/debug/values-af_values-af.arsc.flat
/app/build/intermediates/res/merged/debug/values-am_values-am.arsc.flat
/app/build/intermediates/res/merged/debug/values-ar_values-ar.arsc.flat
/app/build/intermediates/res/merged/debug/values-as_values-as.arsc.flat
/app/build/intermediates/res/merged/debug/values-az_values-az.arsc.flat
/app/build/intermediates/res/merged/debug/values-b+sr+Latn_values-b+sr+Latn.arsc.flat
/app/build/intermediates/res/merged/debug/values-be_values-be.arsc.flat
/app/build/intermediates/res/merged/debug/values-bg_values-bg.arsc.flat
/app/build/intermediates/res/merged/debug/values-bn_values-bn.arsc.flat
/app/build/intermediates/res/merged/debug/values-bs_values-bs.arsc.flat
/app/build/intermediates/res/merged/debug/values-ca_values-ca.arsc.flat
/app/build/intermediates/res/merged/debug/values-cs_values-cs.arsc.flat
/app/build/intermediates/res/merged/debug/values-da_values-da.arsc.flat
/app/build/intermediates/res/merged/debug/values-de_values-de.arsc.flat
/app/build/intermediates/res/merged/debug/values-el_values-el.arsc.flat
/app/build/intermediates/res/merged/debug/values-en-rAU_values-en-rAU.arsc.flat
/app/build/intermediates/res/merged/debug/values-en-rCA_values-en-rCA.arsc.flat
/app/build/intermediates/res/merged/debug/values-en-rGB_values-en-rGB.arsc.flat
/app/build/intermediates/res/merged/debug/values-en-rIN_values-en-rIN.arsc.flat
/app/build/intermediates/res/merged/debug/values-en-rXC_values-en-rXC.arsc.flat
/app/build/intermediates/res/merged/debug/values-es-rUS_values-es-rUS.arsc.flat
/app/build/intermediates/res/merged/debug/values-es_values-es.arsc.flat
/app/build/intermediates/res/merged/debug/values-et_values-et.arsc.flat
/app/build/intermediates/res/merged/debug/values-eu_values-eu.arsc.flat
/app/build/intermediates/res/merged/debug/values-fa_values-fa.arsc.flat
/app/build/intermediates/res/merged/debug/values-fi_values-fi.arsc.flat
/app/build/intermediates/res/merged/debug/values-fr-rCA_values-fr-rCA.arsc.flat
/app/build/intermediates/res/merged/debug/values-fr_values-fr.arsc.flat
/app/build/intermediates/res/merged/debug/values-gl_values-gl.arsc.flat
/app/build/intermediates/res/merged/debug/values-gu_values-gu.arsc.flat
/app/build/intermediates/res/merged/debug/values-hi_values-hi.arsc.flat
/app/build/intermediates/res/merged/debug/values-hr_values-hr.arsc.flat
/app/build/intermediates/res/merged/debug/values-hu_values-hu.arsc.flat
/app/build/intermediates/res/merged/debug/values-hy_values-hy.arsc.flat
/app/build/intermediates/res/merged/debug/values-in_values-in.arsc.flat
/app/build/intermediates/res/merged/debug/values-is_values-is.arsc.flat
/app/build/intermediates/res/merged/debug/values-it_values-it.arsc.flat
/app/build/intermediates/res/merged/debug/values-iw_values-iw.arsc.flat
/app/build/intermediates/res/merged/debug/values-ja_values-ja.arsc.flat
/app/build/intermediates/res/merged/debug/values-ka_values-ka.arsc.flat
/app/build/intermediates/res/merged/debug/values-kk_values-kk.arsc.flat
/app/build/intermediates/res/merged/debug/values-km_values-km.arsc.flat
/app/build/intermediates/res/merged/debug/values-kn_values-kn.arsc.flat
/app/build/intermediates/res/merged/debug/values-ko_values-ko.arsc.flat
/app/build/intermediates/res/merged/debug/values-ky_values-ky.arsc.flat
/app/build/intermediates/res/merged/debug/values-lo_values-lo.arsc.flat
/app/build/intermediates/res/merged/debug/values-lt_values-lt.arsc.flat
/app/build/intermediates/res/merged/debug/values-lv_values-lv.arsc.flat
/app/build/intermediates/res/merged/debug/values-mk_values-mk.arsc.flat
/app/build/intermediates/res/merged/debug/values-ml_values-ml.arsc.flat
/app/build/intermediates/res/merged/debug/values-mn_values-mn.arsc.flat
/app/build/intermediates/res/merged/debug/values-mr_values-mr.arsc.flat
/app/build/intermediates/res/merged/debug/values-ms_values-ms.arsc.flat
/app/build/intermediates/res/merged/debug/values-my_values-my.arsc.flat
/app/build/intermediates/res/merged/debug/values-nb_values-nb.arsc.flat
/app/build/intermediates/res/merged/debug/values-ne_values-ne.arsc.flat
/app/build/intermediates/res/merged/debug/values-night-v8_values-night-v8.arsc.flat
/app/build/intermediates/res/merged/debug/values-nl_values-nl.arsc.flat
/app/build/intermediates/res/merged/debug/values-or_values-or.arsc.flat
/app/build/intermediates/res/merged/debug/values-pa_values-pa.arsc.flat
/app/build/intermediates/res/merged/debug/values-pl_values-pl.arsc.flat
/app/build/intermediates/res/merged/debug/values-pt-rBR_values-pt-rBR.arsc.flat
/app/build/intermediates/res/merged/debug/values-pt-rPT_values-pt-rPT.arsc.flat
/app/build/intermediates/res/merged/debug/values-pt_values-pt.arsc.flat
/app/build/intermediates/res/merged/debug/values-ro_values-ro.arsc.flat
/app/build/intermediates/res/merged/debug/values-ru_values-ru.arsc.flat
/app/build/intermediates/res/merged/debug/values-si_values-si.arsc.flat
/app/build/intermediates/res/merged/debug/values-sk_values-sk.arsc.flat
/app/build/intermediates/res/merged/debug/values-sl_values-sl.arsc.flat
/app/build/intermediates/res/merged/debug/values-sq_values-sq.arsc.flat
/app/build/intermediates/res/merged/debug/values-sr_values-sr.arsc.flat
/app/build/intermediates/res/merged/debug/values-sv_values-sv.arsc.flat
/app/build/intermediates/res/merged/debug/values-sw_values-sw.arsc.flat
/app/build/intermediates/res/merged/debug/values-ta_values-ta.arsc.flat
/app/build/intermediates/res/merged/debug/values-te_values-te.arsc.flat
/app/build/intermediates/res/merged/debug/values-th_values-th.arsc.flat
/app/build/intermediates/res/merged/debug/values-tl_values-tl.arsc.flat
/app/build/intermediates/res/merged/debug/values-tr_values-tr.arsc.flat
/app/build/intermediates/res/merged/debug/values-uk_values-uk.arsc.flat
/app/build/intermediates/res/merged/debug/values-ur_values-ur.arsc.flat
/app/build/intermediates/res/merged/debug/values-uz_values-uz.arsc.flat
/app/build/intermediates/res/merged/debug/values-v16_values-v16.arsc.flat
/app/build/intermediates/res/merged/debug/values-v21_values-v21.arsc.flat
/app/build/intermediates/res/merged/debug/values-vi_values-vi.arsc.flat
/app/build/intermediates/res/merged/debug/values-zh-rCN_values-zh-rCN.arsc.flat
/app/build/intermediates/res/merged/debug/values-zh-rHK_values-zh-rHK.arsc.flat
/app/build/intermediates/res/merged/debug/values-zh-rTW_values-zh-rTW.arsc.flat
/app/build/intermediates/res/merged/debug/values-zu_values-zu.arsc.flat
/app/build/intermediates/res/merged/debug/values_values.arsc.flat
/app/build/intermediates/runtime_symbol_list/debug/R.txt
/app/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/app/build/outputs/apk/debug/app-debug.apk
/app/build/outputs/apk/debug/output-metadata.json
/app/build/outputs/logs/manifest-merger-debug-report.txt
/app/build/intermediates/flutter/debug/flutter_assets/android/app/build/intermediates/
/app/build/intermediates/merged_assets/debug/out/flutter_assets/android/app/build/intermediates/
