<!--
  ~ Copyright © 2022 By Geeks Empire.
  ~
  ~ Created by Elias Fazel
  ~ Last modified 1/13/22, 6:44 AM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.geeksempire.flow.accounting.flow_accounting">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
